/* h6, h5, h3, h2, h1, p, small, a, label, button {
    font-family: 'Poppins', sans-serif !important;
    *Angra995*
} */

.scroller {
  height: 100vh;
  overflow: scroll;
}
.img-hover {
  transition: ease-in-out;
  position: relative;
  top: 0px;
  filter: grayscale(90%);

}
.btn-float-menu--footer {
  position: absolute;
  z-index: 11;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 0px;
  background-color: #fff;
  border-radius: 100%;
  padding: 32px 0px 32px 6px !important;
  box-shadow: 0 0 5px #333;
  max-width: 58px !important;
}
.btn-float-menu--footer i {
  font-size: 35px !important;
  top: -10px;
  left: -4px;
}

.btn-float-menu--footer .mdc-button__ripple {
  border-radius: 100%;
}
.backdrop {
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  top: 15px;
  bottom: 0;
  width: 92% !important;
  z-index: 2;
  border-radius: 6px 6px 0 0;
}
.backdrop-close {
  position: absolute;
  display: none;
  background-color: #fff;
  top: 2px;
  bottom: 0;
  left: 10px;
  right: 10px ;
  z-index: 2;
}
.img-hover:hover {
  box-shadow: 0 0 25px #dc3545;
  position: relative;
  top: -8px;
  left: 0%;
  right: 25%;
  width: 100%;
  transition: ease-in-out 0.5s;
  filter: grayscale(0%);
}
.inlineModuleHeader__header {
    position: relative;
    line-height: .9;
}
.inlineModuleHeader__header:before {
    left: 95px;
    top: -3px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
.inlineModuleHeader__header:before {
    background-color: #dc3545;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    -webkit-transform: rotate(-45deg) skewX(45deg);
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
}

.inlineModuleHeader__header:after {
    left: 37px;
    top: calc(100% + 3px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
}

.inlineModuleHeader__header:after, .inlineModuleHeader__header:before {
    background-color: #dc3545;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    -webkit-transform: rotate(-45deg) skewX(45deg);
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
}

.dark-header {
  background-color: #111;
}

.mdc-touch-target-wrapper {
  position: fixed;
}
.font-marvel {
  /*font-family: 'Marvel', sans-serif;*/
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.font-marvel-ligth {
  /*font-family: 'Marvel', sans-serif;*/
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.card {
  border:  solid 1px rgb(60 8 161) !important;
  /*box-shadow: 0px 0px 15px #fff !important;*/
}

.text-center {
  text-align: center;
}

.bg-01 {
  background-image: url('../img/logo-marvel.gif') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.bg-02 {
  background-image: url('../img/200.gif') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.bg-dark-opacite {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(rgba(140, 27, 36, 0.6), rgb(20 3 62 / 60%));
  z-index: 0;
}

.bg-red {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(rgb(140 27 27 / 80%), #ab0042);
  z-index: -1;
  height: 100vh;
  overflow: scroll;
}

body {
  margin: 0;
  padding: 0;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-opacity {
  background-color: rgba(0,0,0,0.6);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.text-opacity {
  z-index: 1 !important;
  position: relative;
}
a {
  text-decoration: none !important;
}
.img-size-100 {
  width: 100%;
}
.mdc-card {
  margin-top: 8px;
}
.mdc-text-field {
  margin-bottom: 8px;
  width: 100%;
}
/*.content {
  display: none;
}
.content--active {
  display: block;
}*/

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

.slider > div {
  transform: scale(0.8);
  /* transform: translate(100%, 0); */
  transition: all 1s;
}

button:focus {
  outline: 0;
}
.content {
    /*background: var(--light);*/
    background-color: rgb(0 0 0 / 87%);
    margin-top: 0px;
    opacity: 0;
    width: 0%;
    flex-shrink: 0;
    overflow-y: scroll;
    height: 0;
    /*transition: linear 0.5s;*/
    /*display: none;*/
    transition: ease-in-out 3s;
    position: absolute;
    margin-left: 0px;
    padding:  5px;

}
.bg-content {
  background-color: rgb(0 0 0 / 87%);
  min-height: 100%;
}
.content--active {
    display: inherit;
    width: 100%;
    flex-shrink: 0;
    overflow-y: scroll;
    height: 100vh;
    display: block;
    /*transform: scale(1) !important;*/
    transform: translate(0) !important;

    transition: ease-in-out 3s;
    opacity: 1;
}
.mdc-fab {
  position: fixed;
  right: 16px;
  z-index: 4;
  bottom: 16px;
}
.bg-rounded {
  position: absolute;
  top: -160px;
  left: 0;
  right: 0;
  border-radius: 100%;
  height: 280px;
  z-index:-1;
}
/*.mdc-button {

}*/
.img-splash {
  width: 50%;
}

.bg-opacite {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.7);
  z-index: 10;
}
.bg-splash {
  background-image: url("../img/ng_msg_send.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /*opacity: 0.5;*/
}

.bg-splash-2 {
  background-image: url("../img/ng_calling.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /*opacity: 0.5;*/
}

.bg-splash-3 {
  background-image: url("../img/ng_new_account.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /*opacity: 0.5;*/
}
.splash-front {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index:11;
}
#app {
  padding: 0;
}
.btn-link {
  font-weight: bold;
  font-size: 15px;
}
.material-icons {
  font-size: 20px;
  /*margin-top: 5px;*/
}
.mdc-list-item__graphic {
  font-size: 26px;
  color: #999;

}
.material-icons-md {
  font-size: 30px;
}

.material-icons-lg {
  font-size: 45px;
}
.material-icons-xlg {
  font-size: 55px;
}
/*COMPONENT TAB FLUTUANTE*/
.component-tab{
  position: fixed;
  z-index:1032;
  border-radius: 100px;
  padding: 12px 12px 8px 12px;
  box-shadow:0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

}

.left-top {
  left: 5px;

}
.left-bottom {
  left: 5px;
  bottom: 10px;
}
.center {
  left: 45%;
  right: 45%;
  top: 50%;
}
.center-top {
  left: 45%;
  right: 45%;
}
.left-center {
  top: 50%;
}

.right-top {
  right: 5px !important;

}
.right-bottom {
  right: 5px !important;
  bottom: 10px;
}

.right-center-top {
  left: 45%;
  right: 45%;
}
.right-center {
  top: 50%;
  right: 5px;
}
.btn-tabs {
  z-index:1029;
  position: fixed;
}
.btn-tabs .btn {
  border-radius: 100px;
  padding: 12px 12px 8px 12px;
  position: fixed;

  /*box-shadow:0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);*/
}
/* END COMPONENT TAB FLUTUANTE */


.position-top {
  position: absolute;
  z-index:100;
  top:0;
  left:0;
  right: 0;
}
.position-left {
  position: absolute;
  z-index:100;
  top:0;
  left:0;
  right: 0;
}

.position-bottom {
  position: absolute;
  z-index:100;
  left:0;
  right: 0;
  bottom: 0;
  height: 45px;
}
.text-bolder {
  font-weight: 700 !important;
}
.loadding {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index:1031;
}
.loadding .spinner-border {
  position: absolute;
  top: 50%;
  left: 44%;
  font-size: 0.5rem;
}
.input-border-bottom {
  border-top: none;
  border-left: none;
  border-right: none;
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
