:not(.mdc-list-item--disabled).mdc-list-item--activated
.mdc-list-item__ripple::before,
:not(.mdc-list-item--disabled).mdc-list-item--activated
.mdc-list-item__ripple::after {
    background-color: rgb(140, 27, 36);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgb(255 255 255);
    background-color: #b00020;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #b00020;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(255, 255, 0, 0.54);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon--leading {
    color: rgba(255, 255, 0, 0.54);
}

.mdc-linear-progress__bar-inner {
    border-color: rgb(140, 27, 36);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: #6200EE;
}
.mdc-drawer .mdc-list-item--activated {
    color: rgb(140, 27, 36);
}
.mdc-button--outlined.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: rgb(140, 27, 36) !important;
}
.mdc-top-app-bar {
    background-color: rgb(140, 27, 36);
}
.mdc-tab .mdc-tab__ripple::before, .mdc-tab .mdc-tab__ripple::after {
    background-color: rgb(140, 27, 36);
}

.mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after {
    background-color: rgba(255, 27, 36, 1);/*var(--mdc-theme-secondary, 1);*/
}

.mdc-top-app-bar__ripple::before, .mdc-button .mdc-top-app-bar__ripple::after {
    background-color: rgb(140, 27, 36);/*var(--mdc-theme-secondary, 1);*/
}

.mdc-tab--active .mdc-tab__icon {
    color: rgb(140, 27, 36);
    fill: currentColor;
}
.mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-color: rgb(140, 27, 36);
}
.mdc-tab--active .mdc-tab__text-label {
    color: rgb(140, 27, 36);
}
.text-light {
    color: rgb(140, 27, 36);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: rgb(140, 27, 36);
}

.mdc-button--raised:not(:disabled) {
    background-color: rgb(140, 27, 36);
    /*background-color: var(--mdc-protected-button-container-color, var(#FFF, #FFF));*/
}

/*.mdc-button {*/
/*    !*background-color: var(--mdc-theme-primary) !important;*!*/
/*    color: var(--mdc-theme-surface) !important;*/
/*    margin-left: 2px;*/
/*}*/
/*.mdc-button:not(:disabled) {*/
/*    color: #6200EE;*/
/*    color: var(--mdc-theme-primary) !important;*/
/*}*/

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: rgb(140, 27, 36);
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(140, 27, 36);
}

