:not(.mdc-list-item--disabled).mdc-list-item--activated
.mdc-list-item__ripple::before,
:not(.mdc-list-item--disabled).mdc-list-item--activated
.mdc-list-item__ripple::after {
    background-color: var(--mdc-theme-primary);
}

.mdc-linear-progress__bar-inner {
    border-color: #6200EE;
    border-color: var(--mdc-theme-primary, #6200EE);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: #6200EE;
}
.mdc-drawer .mdc-list-item--activated {
    color: var(--mdc-theme-primary);
}
.mdc-button--outlined.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: rgb(192, 159, 242); !important;
}
.mdc-top-app-bar {
    background-color: var(--mdc-theme-primary);
}
.mdc-tab .mdc-tab__ripple::before, .mdc-tab .mdc-tab__ripple::after {
    background-color: var(--mdc-theme-primary);
}

.mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after {
    background-color: rgb(192, 159, 242);/*var(--mdc-theme-secondary, 1);*/
}

.mdc-top-app-bar__ripple::before, .mdc-button .mdc-top-app-bar__ripple::after {
    background-color: rgb(192, 159, 242);/*var(--mdc-theme-secondary, 1);*/
}

.mdc-tab--active .mdc-tab__icon {
    color: #6200EE;
    color: var(--mdc-theme-primary, #6200EE);
    fill: currentColor;
}
.mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-color: #6200EE;
    border-color: var(--mdc-theme-primary, #6200EE);
}
.mdc-tab--active .mdc-tab__text-label {
    color: #6200EE;
    color: var(--mdc-theme-primary, #6200EE);
}
.text-light {
    color: var(--mdc-theme-primary);
}
/*.mdc-button {*/
/*    !*background-color: var(--mdc-theme-primary) !important;*!*/
/*    color: var(--mdc-theme-surface) !important;*/
/*    margin-left: 2px;*/
/*}*/
/*.mdc-button:not(:disabled) {*/
/*    color: #6200EE;*/
/*    color: var(--mdc-theme-primary) !important;*/
/*}*/

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-surface);
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary);
}

