:not(.mdc-list-item--disabled).mdc-list-item--activated
.mdc-list-item__ripple::before,
:not(.mdc-list-item--disabled).mdc-list-item--activated
.mdc-list-item__ripple::after {
    /*background-color: var(--mdc-theme-secondary);*/
}

.mdc-list .mdc-list-item__graphic {
    display: inline-flex;
}

.mdc-button--outlined.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: var(--mdc-outlined-button-pressed-state-layer-opacity, 0.5) !important;
}

.md
.mdc-linear-progress__bar-inner {
    border-color: #018786;
    border-color: var(--mdc-theme-secondary, #018786);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: #018786;
}
.mdc-drawer .mdc-list-item--activated {
    color: var(--mdc-theme-secondary);
}
.mdc-top-app-bar {
    background-color: var(--mdc-theme-secondary);
}
.mdc-tab .mdc-tab__ripple::before, .mdc-tab .mdc-tab__ripple::after {
    background-color: var(--mdc-theme-secondary);
}

.mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after {
    background-color: rgba(255,255,255, .6);/*var(--mdc-theme-secondary, 1);*/
}

.mdc-top-app-bar__ripple::before, .mdc-button .mdc-top-app-bar__ripple::after {
    background-color: rgba(255,255,255, .6);/*var(--mdc-theme-secondary, 1);*/
}

.mdc-tab--active .mdc-tab__icon {
    color: #018786;
    color: var(--mdc-theme-secondary, #018786);
    fill: currentColor;
}
.mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-color: #018786;
    border-color: var(--mdc-theme-secondary, #018786);
}
.mdc-tab--active .mdc-tab__text-label {
    color: #018786;
    color: var(--mdc-theme-secondary, #018786);
}
.text-light {
    color: var(--mdc-theme-secondary);
}
.mdc-button {
    background-color: var(--mdc-theme-secondary) !important;
    color: var(--mdc-theme-surface) !important;
    margin-left: 2px;
}
.mdc-button:not(:disabled) {
    color: #ffffff;
    color: var(--mdc-theme-surface) !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-secondary);
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-secondary);
}
